*{
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Source Sans Pro', sans-serif;

}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;

}
a, a:hover{
	text-decoration: none;
}

/*global title start*/

.title{
	width: 100%;
	padding: 20px 0px;

}
.title h4{
    font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #737373;
}
.title h1{
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: 2px;
	color: #1a1a1a;
	
}
/*global title end*/
header{
	width: 100%;
	height: 100vh;
	background: url("../images/Lucid.png") center top no-repeat;
	background-size: cover;
}

.header .navbar-nav .nav-item .nav-link{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	margin-left: 25px;
}
.header .navbar-nav .nav-item .nav-link:hover, .header .navbar-nav .nav-item .nav-link:focus{
	background: url("../images/divider.png") bottom center no-repeat;
	background-size: auto;


}
.header .navbar-nav .nav-link.active{
	background: url("../images/divider.png") bottom center no-repeat;
	background-size: auto;

}
.banner{
	width: 100%;
	padding: 80px 0px;
}
.inner-banner{
	width: 100%;
	padding: 60px 0px;
}
.inner-banner h4{
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #0383c5;


}
.inner-banner h1{
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: 2px;
	color: #fff;
	
}
.inner-banner p{
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	color: #999999; 
	
}

.inner-button{
	width: 100%;
	padding: 30px 0px 0px;
}
.inner-button .btn-primary{
	padding: 15px 35px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;
	transition: 1s;
	margin-right: 20px;

}
.inner-button .btn-primary:hover, .inner-button .btn-primary:focus{
	
	color: #0383c5;
	background: transparent;
	border: 1px solid #0383c5;

}
.inner-button .btn-light{
	padding: 15px 35px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	background: transparent;
	border: 1px solid #999;
	transition: 1s;
	
}
.inner-button .btn-light:hover, .inner-button .btn-light:focus{
	
	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;

}
/*feature start*/
.feature{
	width: 100%;
	padding: 80px 0px;
}
.feature .title{
	text-align: center;
}
.feature .title img{
	margin: 20px 0px 0px;
}
.inner-feature{
	width: 100%;
	padding: 40px 20px;
	text-align: center;
}
.inner-feature .icon{
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 100%;
	margin: 0px auto 20px;
	border: 1px solid #eee;
}
.inner-feature .icon .fa{
	font-size: 28px;
	color: #0383c5;
}
.inner-feature h4{
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
	color: #000;
	text-transform: capitalize;

}

.inner-feature p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
	
}
/*abou-long start*/
.about-long{
	width: 100%;
	padding: 80px 0px;
	border-top: 1px solid #eee;
}
.inner-about-long{
	width: 100%;
	margin: 32px 0px 0px;
}
.inner-about-long .title h4{
	color: #008ed6;
}
.inner-about-long .title h1{
	color: #1a1a1a;
	font-size: 42px;
}
.inner-about-long p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #999;

}
.inner-about-long ul{
	padding: 0px;
	display: block;
	margin: 30px 0px 0px;
}
.inner-about-long ul li{
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	list-style: none;
	margin: 0px 0px 10px;
}
.inner-about-long ul li img{
	width: 13px;
	height: 15px;
	margin: 0px 5px 0px 0px;
}
.about-short{
	width: 100%;
	padding: 80px 0px;
	background: #f2f2f2;

}
.about-short .title{
	width: 100%;
	margin: 80px 0px 0px;
}
.about-short .title h4{
	color: #008ed6;
}
.about-short .title h1{
	font-size: 36px;
	font-weight: 600;
	line-height: 46px;
	letter-spacing: 2px;
	color: #000;
	
}
.about-short .title p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #999;

}
.testimonial{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/img2.png") center top no-repeat;
	background-size: cover;
}
.testimonial .title{
	width: 100%;
	text-align: center;
}
.testimonial .title h1{
	color: #fff;
}
.testimonial .title h4{
	color: #008ed6;
}
.testimonial .owl-carousel{
	width: 100%;
	padding: 40px 0px 0px;
}
.testimonial .owl-carousel .item{
	width: 100%;
}
.testimonial .owl-carousel .item h4{
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: #fff;
	margin: 0px 0px 30px;
	font-style: italic;

}
.testimonial .owl-carousel .item .client-img{
	width: 85px;
	height: 85px;
	border-radius: 100%;
	
}
.testimonial .owl-carousel .item h6{
	
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;


}
.testimonial .owl-carousel .item p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 10px 0px 5px;
	color: #fff;

}

.testimonial .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 110px;
}
/*eye catcher start*/
.eye-catcher{
	width: 100%;
	padding: 30px 0px;
	background: #15141a;
}
.eye-catcher h2{
	font-size: 34px;
	line-height: 44px;
	font-weight: 300;
	color: #fff;
	margin: 10px 0px 0px;
}
.eye-catcher h2 span {
	font-weight: 500;
}
.eye-catcher .inner-button{
	width: 100%;
	padding: 10px 0px;
}

 .eye-catcher .inner-button .btn-primary{
	padding: 15px 35px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;
	transition: 1s;
	

}
.eye-catcher .inner-button .btn-primary:hover, .eye-catcher .inner-button .btn-primary:focus{
	
	color: #0383c5;
	background: transparent;
	border: 1px solid #0383c5;

}
.eye-catcher .inner-button .btn-light{
	padding: 15px 35px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	background: transparent;
	border: 1px solid #999;
	margin-right: 10px;
	transition: 1s;
	
}
.eye-catcher .inner-button .btn-light:hover, .eye-catcher .inner-button .btn-light:focus{
	
	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;

}
/*eye catcher end*/

/*pricing css start*/
.pricing{
	width: 100%;
	padding: 80px 0px;
}
.pricing .title{
	text-align: center;
	width: 100%;
	padding: 0px 0px 40px;
}
.pricing .title h4{
	color: #008ed6;
	
	text-transform: uppercase;
	letter-spacing: 1px;
}
.pricing-table{
	width: 100%;
	/*padding: 40px 0px;*/
	border: 1px solid #eee;
	text-align: center;
}

.pricing-table .pricing-head{
	width: 100%;
	padding: 20px 0px;
	border-bottom: 1px solid #eee;

}

.pricing-table .pricing-head h4{
	margin: 0px;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;

}
.pricing-table .main-price{
	width: 100%;
	padding: 40px 0px;
	border-bottom: 1px solid #eee;
}
.pricing-table .main-price h1{
	font-size: 60px;
	line-height: 70px;
	font-weight: 700;
	color: #000;
	margin: 0px;

}

.pricing-table .main-price h1 sup{
	font-size: 30px;
	font-weight: 500;
	color: #000;

}
.pricing-table .main-price p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
	margin: -5px 0px 0px;

}
.price-content{
	width: 100%;
	padding: 50px 40px 30px;
}
.price-content p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #999;
	margin: 0px 0px 40px;
}
.price-content p a{
	text-decoration: none;
	color: #0383c5;
	font-weight: 400;
}
.price-content .btn-primary{

	padding: 15px 30px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #0383c5;
	background: #fff;
	border: 1px solid #0383c5;
	transition: 1s;

}
.price-content:hover .btn-primary{

	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;

}
.price-content .btn-primary:focus{

	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;

}

.pricing-table:hover .pricing-head h4{

	color: #0383c5;
}
.pricing-table:hover .main-price{

	background: #0383c5;
}
.pricing-table:hover .main-price h1{

	color: #fff;
}
.pricing-table:hover .main-price h1 sup{

	color: #fff;
}
.pricing-table:hover .main-price p{

	color: #fff;
}

/*contact css start*/
.contact{
	width: 100%;
	padding: 80px 0px 0px;
	background: #ededed;
	margin: 0px;
}
.contact .title{
	text-align: center;
	padding: 0px 0px 40px;
	
}
.contact .title h4{
	color:  #0383c5;
}
.inner-contact{
	width: 100%;
	padding: 40px 0px;
	text-align: center;
}
.inner-contact .fa{
	font-size: 35px;
	color: #0383c5;
	margin: 0px 0px 20px;

}
.inner-contact p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
}
.contact-form{
	width: 100%;
	padding: 70px 50px 50px;
	background: #15141a;
	position: relative;
	z-index: 1;
	margin-bottom: -70px;
}
.contact-form .form-control{
	padding: 15px 12px;
	border-radius: 2px;
	font-size: 14px;
	text-transform: uppercase;
	background: transparent;
	color: #999;
	border: 1px solid #999;

}
.contact-form .form-control:focus{
	background: transparent;
	border: 1px solid #999;
	box-shadow: 0 0 0 0 #999;
}
.contact-form .submit{
	width: 100%;
	text-align: right;
}
.contact-form .submit .btn-primary{

	padding: 15px 30px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	background: #0383c5;
	border: 1px solid #0383c5;
	transition: 1s;

}
.contact-form .submit .btn-primary:hover, .contact-form .submit .btn-primary:focus{
	color: #0383c5;
	background: transparent;
	border: 1px solid #0383c5;
}
.footer{
	width: 100%;
	height: 160px;
	background: #15141a;
}
.footer .copyright{
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: #444348;
	font-weight: 600;

}
.footer .social-icon{
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px 0px;

}
.footer .social-icon li{
	list-style: none;
	display: inline-block;
}
.footer .social-icon li a{
	display: block;
	
	font-size: 24px;
	margin: 20px 0px 0px 20px;
	color: #444348;
	transition: 1s;
}
.footer .social-icon li a:hover{
	
	color: #0383c5;
	
	
}
.footer .social-icon li a:focus{
	
	color: #0383c5;
	
	 
	
}